
section.ultimenu__region form.lang-dropdown-form{
	display: none;
}

section.ultimenu__region .row.bs-3col {
    padding-bottom: 20px;
}
/* z-ndex fix for pop-ups*/
.ui-widget-overlay {
    z-index: 90 !important;
}

/* Priority Actions */
.form-item-field-ac-protected-area-0-target-id,
.form-item-field-ac-region-0-target-id,
.form-item-field-ac-country-0-target-id {
    display: none;
}
th.views-field-field-ac-category {
    width: 15%;
}
th.views-field-field-ac-protected-area,
th.views-field-field-ac-country,
th.views-field-field-ac-region{
    width: 15%;
}
th.views-field-field-ac-priorities{
	width: 30%;
}
th.views-field-field-ac-reference-doc{
	width: 10%;
}
th.views-field-field-ac-other-resources{
	width: 25%;
}
th.views-field-nid{
	width: 5%;
}

a.btn.btn-secondary.btn-sm {
    margin: 0px 5px;
}
.actions-content {
    margin-bottom: 30px;
}

.actions-content table{
    margin: 0px;
}

h4 {
	color: #41ad53;
}
/* Contact Form */
.ui-dialog-buttonset button.form-submit:nth-child(2){
	display: none;
}

/* Global a outline style */
a {
  text-decoration: none;
}

/* GLOBAL TABLE CSS */
table{

}
.form-item-field-assessment-country-0-target-id,
.field--name-field-assessment-protected-area,
.field--name-field-doc-region,
.field--name-field-assessment-region{
	display: none;
}
th.field-label h4.label {
	color: #fff !important;
}

table th{
  background-color:#41ad53!important;
  color: #fff !important;
  font-weight: 800!important;
  font-variant: all-small-caps;
  font-size: medium;
  border:0px!important;
}

table tr{
  border:0px!important;
  border-bottom: 1px solid #0000000d!important;
      background: #fdfdfd;
}

table td{
  border:0px!important;
}

table td a{
  color: #3b8b48!important;
  text-decoration:none!important;
  font-size:1.0em;
}

table td a:hover{
  color:#009688!important;
  font-weight:bolder!important;
  text-decoration:none!important;
  font-size:1.0em; 
}

ul#superfish-account {
    position: absolute;
    top: 8px;
/*     background: white; */
    right: 0;
    border-radius:5px;
    border:1px solid #8FBF4B;
    margin-right:10px;
}

ul#superfish-account li{
  background:none;
}

ul#superfish-account li a{
  color:#8FBF4B;
  text-decoration:unset;
  font-weight:400;
  font-variant:small-caps;
}

.source-wrapper {
    max-width: 300px;
    border: 2px solid #ccc !important;
    border-radius: 30px;
    padding: 3px;
	overflow: hidden;
	background: #fff;
	opacity: 0.7;
    width:40px;
    height:40px;
    position:relative;
}
.source-wrapper div.field--name-field-source-logo{
    padding: 0px !important;
}
.source-wrapper .container-fluid {
    margin: 0px;
    padding: 0px;
}
.field--name-field-source .field__items, .chart-source {
    display: flex;
    flex-direction: row-reverse;
}
.source-name {
    font-size: larger;
    font-weight: 900;
}
.field--name-field-source-logo {
	margin: 0px !important;
	cursor: pointer;
    border-radius: 50%;
}
div.field--type-entity-reference > div {
    width: 100%;
}
.field--name-field-source-logo img {
	margin: 0px !important;
	border-radius: 50%;
}
.node--unpublished {
    background: lightpink;
}

/**
 * Tabs
 */
.ui-tabs-nav {
	display: flex;
    background: #f3f3f3;
}
li.ui-tabs-active {
    background-color: #8fc04f !important;
    border-bottom: 2px solid #679b95 !important;
	color: #fff !important;

}
li.ui-tabs-tab.ui-tabs-active a {
	font-weight: normal;
    color: #fff;
}

li.ui-tabs-tab, .ui-tabs, .ui-tabs-nav{
    border-radius: 0px;
    margin: 0 !important;
    padding: 0 !important;
}

li.ui-tabs-tab{
	background-color: #f3f3f3;
	color: #333;
}

li.ui-tabs-tab a{
	color: #333;
}

/**
 * General
 */
 div#wms-map-legend {
    max-height: 300px;
    overflow: auto;
}
.map-legend-title {
    color: #679b95;
    font-weight: bold;
}
.field--name-field-countries .field__items {
    max-height: 100px;
    overflow: auto;
}
 body, :root, #drupal-off-canvas *, #drupal-off-canvas *:not(div),.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  font-family:"Maven Pro"!important;
}
details.js-form-wrapper {
    width: 100% !important;
}
fieldset.indicator-scope-wrapper .fieldset-wrapper {
    display: flex;
}
fieldset.indicator-scope-wrapper .fieldset-wrapper > div {
    flex-basis: 25%;
}

#state-accordion .ui-accordion-content,
#response-accordion .ui-accordion-content,
#pressure-accordion .ui-accordion-content{
	min-height: 500px;
}
  /**
 * icon colors
 */
 div.alert.alert-dismissible{
	 opacity: 1 !important;
 }
 .navbar-we-mega-menu {
    padding: 5px !important;
	margin: 0px !important;
}
ul.sf-menu.menu, ul.sf-menu.menu ul, ul.sf-menu.menu li {
    background: #fff;
}
 #drupal-off-canvas a {
    color: #90c14f;
}

 g#biopama-blue polygon {
    stroke: #679b95;
	fill: #fff; /*the backgound color*/
}
 g#biopama-blue path {
    fill: #679b95;
}

g#biopama-green polygon {
    stroke: #8fbf4b;
	fill: #fff; /*the backgound color*/
}
g#biopama-green path {
    fill: #8fbf4b;
}
g#biopama-green path.cls-2 {
    clip-path: none;
}

 /**
 * off canvas overrides
 */
 
.chosen-enable,
.chosen-container{
  padding: 0px !important;
  width: 100% !important;
  border: 0px !important;
}
 
#drupal-off-canvas .source-wrapper {
    position: absolute;
    left: 0;
}
#drupal-off-canvas .field.field--name-field-policy-full-title,
#drupal-off-canvas .field--name-field-policy{
	font-size: 30px;
}
#drupal-off-canvas .node__meta {
    display: none;
}

#drupal-off-canvas h4, #drupal-off-canvas .heading-d {
    background: #fff;
	font-size: 16px;
	text-align: left;
}
#drupal-off-canvas .col, #drupal-off-canvas .col-auto{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.horizontal-tabs {
	border: 0px !important;
    border-bottom: 1px solid #ccc !important;
}

#drupal-off-canvas details, #drupal-off-canvas summary, #drupal-off-canvas .details-wrapper {
    margin: 0px 0px;
    padding: 0 0px;
}
#drupal-off-canvas input[type=file] {
    font-size: 10px !important;
}
#drupal-off-canvas legend,
#drupal-off-canvas label,
#drupal-off-canvas .field__label,
.ui-corner-all.ui-dialog legend,
.ui-corner-all.ui-dialog label{
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 16px;
	background: #fff;
    color: #41ad53;
}
#drupal-off-canvas legend,
.ui-corner-all.ui-dialog legend{
    background: #41ad53;
    color: #fff;
	padding-left: 5px;
}

#drupal-off-canvas div.paragraphs-subform label,
.ui-corner-all.ui-dialog div.paragraphs-subform label{
    background: none;
    color: #41ad53;
	font-size: 16px;
	padding: 0px;
}
.ui-dialog .radio input,
.ui-corner-all.ui-dialog div.paragraphs-subform .radio input{
    width: auto;
}
#drupal-off-canvas fieldset,
.ui-corner-all.ui-dialog fieldset {
    margin: 15px 0px;
    width: 100%;
}
.js-form-item.form-item.js-form-type-radio.form-type-radio {
    display: flex;
}
#drupal-off-canvas td.field-multiple-drag {
    display: none !important;
}
#drupal-off-canvas table {
    min-width: 100% !important;
    margin: 0px;

}
#drupal-off-canvas td, #drupal-off-canvas th{
    color: #41ad53 !important;
	background-color:#fff!important;
	font-variant: unset;
	font-weight: unset;
	padding: 0px !important;
}
#drupal-off-canvas  th.field-label h4.label {
	color: #41ad53 !important;
	background-color:#fff!important;
	padding-left: 5px;
    margin: 0px;
}
div.entities-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.entities-list .item-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 100%;
    text-align: left;
}
#drupal-off-canvas div.field--type-entity-reference {
    padding: 5px;
}
#drupal-off-canvas div.node__content div.field--type-entity-reference {
    padding: 5px 0px;
}
#drupal-off-canvas div.node__content div.field {
    padding: 5px 0px;
}
/* #drupal-off-canvas .chosen-container ul.chosen-results {
    background: #fff !important;
    padding: 0px 10px;
    border: 1px solid #ccc !important;
}
#drupal-off-canvas .form-select.chosen-container {
    background: #f1f1f1 !important;
	width: 100% !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}

div.details-wrapper div.form-group.js-form-wrapper, div.details-wrapper small.details-description{
	margin: 10px !important;
}
#drupal-off-canvas .chosen-container-multi .chosen-choices li.search-choice, .chosen-container-multi .chosen-choices li.search-choice {
    background: #fff !important;
}
#drupal-off-canvas .chosen-container ul.chosen-results li.result-selected{
    color: #ccc !important;
}
#drupal-off-canvas .chosen-container .chosen-choices .search-field {
    background: #f1f1f1;
    margin-top: 1px;
} */

input.remove-button {
    background: #ff8e8e !important;
}

.close {
    font-size: 21px !important;
}

button.breadClose {
    border: none;
    font-size: 10px !important;
    margin-left: 5px;
    border-radius: 50%;
}
.country-summary-dialog {
    height: 80% !important;
    top: 10% !important;
}
#drupal-off-canvas  .col.layout-region-node-footer {
    margin-bottom: 200px;
}

#drupal-off-canvas .description, #drupal-off-canvas .form-item .description, #drupal-off-canvas .details-description {
    color: #8e8e8e !important;
}
#drupal-off-canvas .tabledrag-toggle-weight-wrapper,
#drupal-off-canvas form .filter-wrapper,
.ui-widget-content .filter-wrapper {
    display: none;
}
#drupal-off-canvas .horizontal-tabs .horizontal-tab-button {
    background: #eee !important;
	color: #90c14f !important;
}
#drupal-off-canvas .horizontal-tab-button.selected {
    background-color: #fff !important;
	color: #41ad53 !important;
}
/* .chosen-container-multi .chosen-choices, #drupal-off-canvas .chosen-container-multi .chosen-choices {
    background-color: #f1f1f1 !important;
    background-image: none !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
} */
.ui-dialog .ui-dialog-content {
    background: #fff;
    color: #679b95;
}
.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0em;
    background: #fff;
}
/* .ui-corner-all.ui-dialog .layout-region-node-main {
    max-height: 500px;
} */
.ui-corner-all.ui-dialog div.description {
    color: #ccc;
    font-size: 12px;
}
/* Indicator CSS */
#drupal-off-canvas ul.horizontal-tabs-list{
  padding-left: 25px!important;
  background-color: #90c14f!important;
  margin-left: -15px;
    margin-right: -15px;
    width: -webkit-fill-available;
    width:-moz-available;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-off-canvas.ui-dialog-position-side.ui-resizable{
  left:60%!important;
  width:40%!important;
  height: 100% !important;
  border-left: 1px solid #679b9587!important
}

#drupal-off-canvas ul li.horizontal-tab-button{
    margin: 5px 10px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    border-radius: 3px;
    min-height: 30px;
    text-align: center;
	line-height: 28px;
}

#drupal-off-canvas ul li.horizontal-tab-button a:link {
    text-decoration: none;
}

#drupal-off-canvas input[value="Save"].button {
  width:auto;
  box-shadow: 0px 2px 10px 2px rgba(17, 133, 171, 0.34);
}

#drupal-off-canvas .horizontal-tabs-panes input[type="submit"].button{
    width: auto;
}
#drupal-off-canvas details.field-group-tab {
    outline: none !important;
}
#drupal-off-canvas details[open], #drupal-off-canvas div.field--widget-link-default {
    outline: 1px solid #c5c5c5;
    padding-bottom: 0px;
}
#drupal-off-canvas div.field--widget-link-default div.fieldset-wrapper{
	padding: 10px;
}
#drupal-off-canvas div.field--widget-link-default div.fieldset-wrapper fieldset{
	margin: 0px;
}
#drupal-off-canvas summary:hover, #drupal-off-canvas summary:focus{
    background-color: #a7d1e500!important;
    /* padding: 10px!important; */
    /* border-radius: 10px; */
    color: #444444!important;
    border-bottom: 1px solid silver;
    /* border-top: 1px solid silver; */
    font-weight: 100;
}

#drupal-off-canvas details[open] > summary {
    background-color: #41ad53!important;
    padding: 3px 10px;
    border-bottom: 1px solid silver;
    font-weight: 100;
	pointer-events: none;
	color: #fff;
	font-size: 16px;
}

/* #drupal-off-canvas select.form-select{
  border: 1px solid silver!important;
  background-color:#fafafa!important;
} */

.form-required::after {
  background:unset!important;
  content:'!' !important;
  font-size:large;
  color: #a25628;
    text-shadow: 0px 2px 5px #d85252eb;
    position: relative;
    top: 0px;
    margin-top: -20px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 2;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Create Policy */
#drupal-off-canvas .image-preview{
  padding-right:20px!important;
}

#drupal-off-canvas .image-style-thumbnail{
  margin-right:5px!important;
  border-radius: 5px;
}
#drupal-off-canvas tr:hover td {
    background: unset;
}

#drupal-off-canvas hr{
  border: 1px solid silver;
}

#drupal-off-canvas .alert-wrapper {
    position: relative;
}

/* #drupal-off-canvas .remove-button{
  position:relative!important;
  right:10px!important;
} */

/* SPLASH PAGE and HELP PAGE */
.splash-dialog {
    top: 10% !important;
    max-height: 80% !important;
    overflow: hidden;
}
.splash-button-footer {
    color: #ccc;
    font-size: 11px;
}
.splash-dialog .ui-dialog .ui-dialog-content{
  height: -webkit-fill-available;
  height: -moz-available;
}

.splash-dialog article {
    max-height: 100%;
    overflow-y: auto;
}
.splash-button {
    border-radius: 0px;
    margin: 3px;
    padding: 15px;
    outline:none;
}

.splash-button-wrapper {
  text-align:center;
}

.ui-dialog .ui-dialog-titlebar-close {
   border-radius: 5px;
    background-color: transparent;
    background-image: url(/themes/custom/bootstrap_barrio_biopama/img/cancel-icon.png);
    background-size: contain;
}

.splash-dialog h2,.splash-dialog h3,.splash-dialog h4{
  color:#679b95;
  font-weight:900;
}

.splash-dialog a{
  text-decoration:none;
  outline:none;
}

/* MOBILE */

@media  only screen and (max-width: 991px){
  .navbar-we-mega-menu.navbar {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: 0 none;
      margin-top: 0;
      height: 60px;
      left: 0px;
      background: white;
      overflow: inherit;
  }
  body.toggled .btn-close {
    display:none!important;
  }
  body.toggled {
    right: 0px;
    overflow-y: scroll!important;
  }
  body div.overlay{
    display:none;
  }
  nav.main.navbar {
      right: 0;
    display: block!important;
  }
  .navbar-toggle {
    display: none!important;
  }
  .region-we-mega-menu {
    background:transparent;
  }
  .region-we-mega-menu a.menu-toggle{
    display:none;
  }
  #CollapsingNavbar{
    display:block!important;
  }
  .block.block-superfish.block-superfishaccount{
    display:none;
  }
}

/* TalkingMaps Dialog CSS Override */

.story-edit-dialog{
  background-color:#fff;
  border-radius:10px;
}

.story-edit-dialog .ui-dialog-titlebar{
  background-color: #7faa46;
color: #fff;
}
